
.home {
    background-color: #f4f4f9;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.text {
    flex: 1;
    max-width: 50%;
    padding-right: 40px;
}

.text h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
    max-width: 100%;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text {
        max-width: 100%; /* A seção de texto ocupa toda a largura */
        padding-right: 0; /* Remove o padding direito */
    }

    .image {
        max-width: 100%; /* A imagem ocupa toda a largura disponível */
        margin-top: 20px;
    }

    .text h1 {
        font-size: 2rem; /* Reduz o tamanho do título para telas menores */
    }

    .text p {
        font-size: 1rem; /* Reduz o tamanho do texto */
    }

    /* Ajuste no botão (caso esteja na home) */
    .newProjectBtn {
        padding: 10px 25px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .text h1 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .container {
        padding: 0 10px;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }
}
